{% load static %}

<div class="main-container-about" id="about">
    <div class="title-container-about">
        <h2><span style="font-size: 5rem">ABOUT</span></h2>
        <br>
        <p><span style="font-size: 2.4rem">We are <span style="font-style: italic; color: #fffff"><strong>Mugic Studio</strong></span>, a brazilian production company specialized in 3D animation and games.</span><br><br>

        <span style="font-size: 2.8rem">With a functional methodology for the production of high standard productions we take advantage of the best part of each artist that work with us to achieve the best results in the projects that we work on.</span><br><br>

        <span style="font-size: 2.4rem">As a team we are always working on new ideas and what is going over will be fantastic because our team is made up of passionate and talented people that love, art and tech, and are highly capable of creating!</span></p><br>
        
        <div class="container-span-about">
        <p><span style="font-size: 2.4rem"><strong>Come Create with us!</strong></span></p>
        </div>
    </div>

    <div class="container-rose-about">
        <img src="{% static 'mugic/img/RoseMugic_site.png'%}" alt="Rose about">
    </div>
</div>