{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">

<link rel="stylesheet" href="https://use.typekit.net/lkj1pet.css">
<link href="//fonts.cdnfonts.com/css/gotham-rounded" rel="stylesheet">
<script src="https://kit.fontawesome.com/a5f95ee9fb.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'mugic/css/style.css' %}">
<script src="{% static 'mugic/js/scripts.js' %}" defer></script>
<link rel="logo icon" href="{% static 'mugic/img/mugic_favicon.png'%}">